In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\\sakib\\Desktop\\PYthon_Paper\data.csv")

In [3]:
df.head()

   gender  ethnicity  age  height  weight  hair_color  eye_color  country
0       0          0   53    1.84      62           0          0        0
1       1          1   68    2.01      85           1          0        0
2       1          1   65    1.94     103           1          1        1
3       0          2   69    1.59      52           2          2        2
4       0          2   28    1.53      72           3          3        3

In [4]:
y = df["country"]

In [5]:
x = df.drop("country",axis=1)
x.head(50)

    gender  ethnicity  age  height  weight  hair_color  eye_color
0        0          0   53    1.84      62           0          0
1        1          1   68    2.01      85           1          0
2        1          1   65    1.94     103           1          1
3        0          2   69    1.59      52           2          2
4        0          2   28    1.53      72           3          3
5        0          1   22    1.80      68           0          0
6        0          0   67    1.65      74           4          4
7        0          1   40    1.88     105           0          5
8        1          2   64    1.51      67           3          6
9        0          2   44    1.60      79           2          6
10       0          0   33    1.77      82           1          0
11       0          0   55    1.93      97           2          5
12       0          0   57    1.73      91           5          4
13       1          0   54    1.91     108           3          5
14       0          1   19    1.51      72           5          3
15       0          1   48    1.56      95           5          4
16       1          1   74    1.64     100           3          2
17       0          1   53    1.68      90           1          5
18       0          0   69    1.89      73           5          5
19       0          2   19    1.76      95           3          3
20       1          2   43    1.66      66           3          2
21       0          0   74    1.99      71           2          1
22       0          2   68    1.97     101           0          6
23       1          2   45    1.88      60           5          5
24       1          2   31    1.56      68           3          6
25       0          0   29    1.87      70           5          2
26       1          1   40    1.88      73           5          2
27       1          2   44    1.64      60           2          4
28       0          1   58    1.47      68           5          6
29       0          0   28    1.90      66           4          6
30       0          0   30    1.47      60           5          6
31       0          1   38    2.00      76           6          0
32       1          1   62    1.97     101           5          6
33       1          0   65    1.51      68           4          1
34       1          2   61    2.05      55           6          4
35       0          2   56    1.80      90           0          2
36       1          1   44    1.81      91           5          3
37       1          2   42    1.45     103           0          6
38       1          0   20    1.64      55           3          3
39       1          2   25    1.96      96           2          4
40       0          1   54    1.75     104           4          4
41       1          2   50    1.76      58           3          4
42       1          0   52    1.76      50           1          5
43       1          2   66    1.49      54           2          5
44       1          1   62    1.80     105           0          4
45       0          0   35    1.58     105           0          5
46       0          2   22    1.85      76           1          5
47       0          2   42    1.54      85           4          2
48       0          1   53    2.02      57           0          4
49       1          1   63    1.67      68           0          3

In [6]:
from sklearn.linear_model import LinearRegression 
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
clf = LinearRegression()
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.30,random_state=50)
l=LabelEncoder()
l.fit(y_train)
y_train_new=l.transform(y_train)
clf.fit(x_train,y_train_new)
clf.score(x_test,y_test)

-0.00033864702741959185