In [3]:
import sklearn
import pandas as pd
df= pd.read_csv("C:\\Users\\sakib\\Desktop\data.csv")
df.head()

   gender  ethnicity  age  height  weight  hair_color  eye_color  country
0       0          0   53    1.84      62           0          0        0
1       1          1   68    2.01      85           1          0        0
2       1          1   65    1.94     103           1          1        1
3       0          2   69    1.59      52           2          2        2
4       0          2   28    1.53      72           3          3        3

In [4]:
import matplotlib.pyplot as plt

In [5]:
import numpy as np

In [6]:
%matplotlib inline

In [8]:
df.keys()

Index(['gender', 'ethnicity', 'age', 'height', 'weight', 'hair_color',
       'eye_color', 'country'],
      dtype='object')

In [11]:
print(df['country'])

0         0
1         0
2         1
3         2
4         3
         ..
84618    18
84619    17
84620    53
84621     2
84622    57
Name: country, Length: 84623, dtype: int64

In [18]:
fd= pd.DataFrame(df['gender'],columns=df['country'])

In [15]:
fd.head(5)

Empty DataFrame
Columns: [0, 0, 1, 2, 3, 4, 5, 6, 4, 7, 8, 9, 10, 11, 12, 13, 8, 14, 15, 16, 17, 18, 12, 9, 9, 19, 1, 15, 20, 17, 21, 19, 22, 23, 24, 13, 25, 24, 26, 15, 4, 17, 27, 4, 28, 29, 0, 30, 12, 31, 32, 33, 12, 26, 34, 35, 4, 11, 36, 25, 37, 38, 39, 40, 41, 0, 18, 42, 43, 4, 44, 10, 2, 37, 27, 45, 46, 47, 1, 48, 32, 13, 4, 14, 0, 49, 42, 16, 27, 8, 50, 47, 5, 51, 0, 52, 40, 53, 40, 54, ...]
Index: []

[0 rows x 84623 columns]

In [19]:
from sklearn.preprocessing import StandardScaler

In [20]:
scaler=StandardScaler()
scaler.fit(df)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [21]:
scaled_data=scaler.transform(df)

In [22]:
scaled_data

array([[-1.00242545e+00, -1.22149102e+00,  4.05232145e-01, ...,
        -1.49802622e+00, -1.49755262e+00, -1.70308563e+00],
       [ 9.97580418e-01,  6.93249412e-04,  1.34530108e+00, ...,
        -9.98093372e-01, -1.49755262e+00, -1.70308563e+00],
       [ 9.97580418e-01,  6.93249412e-04,  1.15728729e+00, ...,
        -9.98093372e-01, -9.98207124e-01, -1.65310201e+00],
       ...,
       [ 9.97580418e-01,  6.93249412e-04,  2.92045726e-02, ...,
        -4.98160521e-01, -4.98861628e-01,  9.46046128e-01],
       [-1.00242545e+00,  1.22287752e+00, -1.34956319e+00, ...,
         5.01705180e-01,  4.83867633e-04, -1.60311839e+00],
       [ 9.97580418e-01,  6.93249412e-04, -1.47490572e+00, ...,
        -9.98093372e-01, -1.49755262e+00,  1.14598060e+00]])

In [23]:
from sklearn.decomposition import PCA

In [217]:
pca=PCA(n_components=1)

In [218]:
pca.fit(scaled_data)

PCA(copy=True, iterated_power='auto', n_components=1, random_state=None,
    svd_solver='auto', tol=0.0, whiten=False)

In [219]:
x_pca=pca.transform(scaled_data)

In [220]:
scaled_data.shape

(84623, 8)

In [221]:
x_pca.shape

(84623, 1)

In [223]:
scaled_data

array([[-1.00242545e+00, -1.22149102e+00,  4.05232145e-01, ...,
        -1.49802622e+00, -1.49755262e+00, -1.70308563e+00],
       [ 9.97580418e-01,  6.93249412e-04,  1.34530108e+00, ...,
        -9.98093372e-01, -1.49755262e+00, -1.70308563e+00],
       [ 9.97580418e-01,  6.93249412e-04,  1.15728729e+00, ...,
        -9.98093372e-01, -9.98207124e-01, -1.65310201e+00],
       ...,
       [ 9.97580418e-01,  6.93249412e-04,  2.92045726e-02, ...,
        -4.98160521e-01, -4.98861628e-01,  9.46046128e-01],
       [-1.00242545e+00,  1.22287752e+00, -1.34956319e+00, ...,
         5.01705180e-01,  4.83867633e-04, -1.60311839e+00],
       [ 9.97580418e-01,  6.93249412e-04, -1.47490572e+00, ...,
        -9.98093372e-01, -1.49755262e+00,  1.14598060e+00]])

In [224]:
x_pca

array([[ 0.50864435],
       [-0.30603333],
       [ 0.21206309],
       ...,
       [-0.27783894],
       [ 0.90330823],
       [ 1.16361035]])

In [225]:
plt.figure(figsize=(8,6))
plt.scatter(x_pca[:,0],x_pca[:,1],c=df['country'])
plt.xlabel('First principle component')
plt.ylabel('Second principle component')

IndexError: index 1 is out of bounds for axis 1 with size 1

In [226]:
df.describe()

,gender,ethnicity,age,height,weight,hair_color,eye_color,country
count,84623.000000,84623.000000,84623.000000,84623.000000,84623.000000,84623.000000,84623.000000,84623.000000
mean,0.501211,0.999433,46.534004,1.750357,79.966298,2.996455,2.999031,34.072876
std,0.500001,0.818212,15.956371,0.175703,17.583018,2.000280,2.002633,20.006673
min,0.000000,0.000000,19.000000,1.450000,50.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,33.000000,1.600000,65.000000,1.000000,1.000000,16.000000
50%,1.000000,1.000000,47.000000,1.750000,80.000000,3.000000,3.000000,34.000000
75%,1.000000,2.000000,60.000000,1.900000,95.000000,5.000000,5.000000,51.000000
max,1.000000,2.000000,74.000000,2.050000,110.000000,6.000000,6.000000,68.000000

In [227]:
Q1=df.quantile(0.25)
Q3=df.quantile(0.75)
Q1,Q3

(gender         0.0
 ethnicity      0.0
 age           33.0
 height         1.6
 weight        65.0
 hair_color     1.0
 eye_color      1.0
 country       16.0
 Name: 0.25, dtype: float64,
 gender         1.0
 ethnicity      2.0
 age           60.0
 height         1.9
 weight        95.0
 hair_color     5.0
 eye_color      5.0
 country       51.0
 Name: 0.75, dtype: float64)

In [228]:
IQR= Q3-Q1
IQR

gender         1.0
ethnicity      2.0
age           27.0
height         0.3
weight        30.0
hair_color     4.0
eye_color      4.0
country       35.0
dtype: float64

In [229]:
lower_limit=Q1-1.5*IQR
upper_limit=Q3+1.5*IQR
lower_limit, upper_limit

(gender        -1.50
 ethnicity     -3.00
 age           -7.50
 height         1.15
 weight        20.00
 hair_color    -5.00
 eye_color     -5.00
 country      -36.50
 dtype: float64,
 gender          2.50
 ethnicity       5.00
 age           100.50
 height          2.35
 weight        140.00
 hair_color     11.00
 eye_color      11.00
 country       103.50
 dtype: float64)

In [230]:
dff=df[(df>lower_limit)&(df<upper_limit)]
dff

       gender  ethnicity  age  height  weight  hair_color  eye_color  country
0           0          0   53    1.84      62           0          0        0
1           1          1   68    2.01      85           1          0        0
2           1          1   65    1.94     103           1          1        1
3           0          2   69    1.59      52           2          2        2
4           0          2   28    1.53      72           3          3        3
...       ...        ...  ...     ...     ...         ...        ...      ...
84618       1          1   35    1.82     100           6          4       18
84619       1          1   71    1.93      58           0          5       17
84620       1          1   47    1.79      61           2          2       53
84621       0          2   25    1.93     110           4          3        2
84622       1          1   23    1.74      67           1          0       57

[84623 rows x 8 columns]

In [243]:
y = dff["country"]
y

0         0
1         0
2         1
3         2
4         3
         ..
84618    18
84619    17
84620    53
84621     2
84622    57
Name: country, Length: 84623, dtype: int64

In [244]:
x = dff.drop("country",axis=1)
x

       gender  ethnicity  age  height  weight  hair_color  eye_color
0           0          0   53    1.84      62           0          0
1           1          1   68    2.01      85           1          0
2           1          1   65    1.94     103           1          1
3           0          2   69    1.59      52           2          2
4           0          2   28    1.53      72           3          3
...       ...        ...  ...     ...     ...         ...        ...
84618       1          1   35    1.82     100           6          4
84619       1          1   71    1.93      58           0          5
84620       1          1   47    1.79      61           2          2
84621       0          2   25    1.93     110           4          3
84622       1          1   23    1.74      67           1          0

[84623 rows x 7 columns]

In [233]:
from sklearn.model_selection import train_test_split

In [245]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.3,random_state=109)
y_train

34868    66
43602    30
56938    28
49406    14
13498     1
         ..
16368    26
82061    52
7925     43
19701    64
44294    12
Name: country, Length: 59236, dtype: int64

In [246]:
from sklearn.preprocessing import LabelEncoder

In [247]:
from sklearn.linear_model import LinearRegression

In [248]:
l=LabelEncoder()

In [249]:
l.fit(y_train)

LabelEncoder()

In [250]:
y_train_new=l.transform(y_train)
y_train_new

array([66, 30, 28, ..., 43, 64, 12], dtype=int64)

In [251]:
clf = LinearRegression()

In [207]:
clf.fit(x_train,y_train)

ValueError: Expected 2D array, got 1D array instead:
array=[1 0 1 ... 0 0 0].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [208]:
clf.score(x_test,y_test)

NotFittedError: This LinearRegression instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [162]:
from sklearn.preprocessing import MultiLabelBinarizer

In [163]:
y = dff["country"]

In [165]:
MultiLabelBinarizer().fit_transform(dff)

array([[0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1],
       [0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0],
       [1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0],
       [1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1],
       [0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1]])

In [166]:
from sklearn.model_selection import train_test_split

AttributeError: 'DataFrame' object has no attribute 'feature_name'