In [1]:
import sklearn
import pandas as pd
df= pd.read_csv("C:\\Users\\sakib\\Desktop\data.csv")
df.head()

   gender  ethnicity  age  height  weight  hair_color  eye_color  country
0       0          0   53    1.84      62           0          0        0
1       1          1   68    2.01      85           1          0        0
2       1          1   65    1.94     103           1          1        1
3       0          2   69    1.59      52           2          2        2
4       0          2   28    1.53      72           3          3        3

In [46]:
y=df["species"]
x=df.drop(["species"],axis=1)
x.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [47]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=.3,random_state=50)

In [48]:
from sklearn.preprocessing import LabelEncoder

In [49]:
from sklearn.linear_model import LinearRegression, LogisticRegression

In [50]:
l=LabelEncoder()
l.fit(y_train)

LabelEncoder()

In [51]:
y_train_new=l.transform(y_train)
y_train_new

array([0, 1, 1, 2, 2, 1, 2, 1, 1, 1, 0, 0, 1, 0, 2, 0, 0, 2, 1, 2, 0, 2,
       0, 1, 1, 0, 2, 2, 2, 2, 2, 0, 1, 2, 1, 0, 2, 1, 1, 0, 0, 0, 1, 2,
       2, 1, 0, 0, 0, 2, 2, 1, 1, 2, 2, 2, 2, 1, 0, 0, 1, 0, 0, 2, 1, 0,
       0, 0, 1, 0, 1, 0, 1, 2, 0, 1, 1, 2, 0, 2, 0, 1, 1, 2, 2, 0, 1, 2,
       2, 1, 1, 2, 0, 2, 0, 0, 1, 0, 2, 2, 2, 1, 0, 2, 0])

In [52]:
clf=LogisticRegression()

In [53]:
clf.fit(x_train, y_train_new)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [54]:
y_test=l.transform(y_test)
clf.score(x_test, y_test)

1.0