In [727]:
import pandas as pd
df=pd.read_csv("book2.csv")
df.head()

   gender  ethnicity  age  height  weight  hair_color  eye_color  country
0       0          0   53    1.84      62           0          0        0
1       1          1   68    2.01      85           1          0        0
2       0          2   22    1.85      76           1          5        0
3       0          1   68    1.66      59           5          1        0
4       0          2   66    1.99      51           3          1        0

In [728]:
y=df["country"]
x=df.drop(["country"],axis=1)
x.head()

   gender  ethnicity  age  height  weight  hair_color  eye_color
0       0          0   53    1.84      62           0          0
1       1          1   68    2.01      85           1          0
2       0          2   22    1.85      76           1          5
3       0          1   68    1.66      59           5          1
4       0          2   66    1.99      51           3          1

In [785]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=.010,random_state=5000)

In [786]:
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression, LogisticRegression

In [787]:
l=LabelEncoder()
l.fit(y_train)

LabelEncoder()

In [788]:
y_train_new=l.transform(y_train)
y_train_new

array([1, 4, 3, ..., 2, 1, 0], dtype=int64)

In [789]:
clf=LogisticRegression()

In [790]:
clf.fit(x_train, y_train_new)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [791]:
y_test=l.transform(y_test)
clf.score(x_test, y_test)

0.14754098360655737